<div class="container">
  <h3>New Category</h3>
    <form>
      <div class="form-group">
        <label for="name">Category Name</label>
         {{input value=name id="name"}}
      </div>
      <button {{action 'saveCategory'}}>Save</button>
    </form>
</div>
